body 
{
   font-family: arial, helvetica, sans-serif;
   padding: 0; 
   margin: 0;
   font-family: arial, helvetica, sans-serif; 
   background-image: url(gramadeg_clouds_top.png); 
   background-repeat: repeat-x; 
   background-position:right top;
}

.en 
{
   color: #000;
}

.cy
{
   color: #f00;
}

.content 
{
   margin: 0.5em; 
   padding: 0.5em;
}